.ripple-btn {
    border: none;
    border-radius: 25px;
    display: inline-flex;
    background-color: #000;
    flex-flow: column nowrap;
    align-items: center;
    overflow: hidden;
    padding: .5rem 1rem;
    position: relative;
    color: white;
}

.ripple-btn label {
    z-index: 5;
}

.ripple1 {
    position: absolute;
    display: none;
    scale: 2;
    justify-content: center;
    align-items: center;
    width: 15px;
    height: 15px;
    bottom: -15px;
    border-radius: 100%;
    z-index: 0;
    background-color: blue;
}

.ripple2 {
    width: 10px;
    height: 10px;
    background-color: orange;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ripple3 {
    width: 5px;
    height: 5px;
    background-color: black;
    border-radius: 100%;
}

.rippleGrower {
    animation: rippleGrow .5s linear forwards;
}

@keyframes rippleGrow {
    from {
        scale: 0.1;
    }

    to {
        scale: 25;
    }
}