@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap');

html,body{
    margin:0;
    padding:0;
    box-sizing: border-box;
    background-color: #6950D0;
    font-family: 'Karla', sans-serif;
    color:white;

}
ul{
    list-style: none;
}
#intro{
    width: 80vw;
    margin:0 auto;
}

#brand{
    display:flex;
    flex-flow:row nowrap;
    align-items: center;
}

nav{
    margin: 2rem;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    color:#FFF;
}

#nav-menu{
    display:flex;
    flex-flow:row nowrap;
}
#nav-menu>li{
    margin:1rem;
    font-size:30px; 
}
#nav-menu>li:nth-child(odd){
    color:#FFC657;
    font-weight:700;
}

#nav-buttons>button{
    padding:1rem;
    border-radius: 15px;
    background-color: #FFC657;
    font-size:30px;
    padding:10px 35px
}

#intro-content{
    line-height: .5rem;
    margin:0 auto;
    display: flex;
    flex-flow:column nowrap;
    
}
#intro-content>h1{
    font-size:50px;
}

#intro-content>span{
    font-size:24px;
}
#groupPhoto{
    margin:0;
    position: relative;
    top:-125px;
}

#meet{
    background-color:black;
    padding:5rem 0;
    position: relative;
    width:100vw;
    display:flex;
    flex-flow:column nowrap;
}

#pxlfangs{
    display:flex;
    flex-flow:column nowrap;
    
}

#px-top{
    display:flex;
    flex-flow:row nowrap;
    justify-content: space-evenly;
    align-items: center;
    background-image: linear-gradient(.35turn, #6950D0 85%, #76D8F9);
}

#px-bottom{
    display:flex;
    flex-flow:row nowrap;
    justify-content: center;
    margin-top:5rem;
}
#px-bottom>img:first-child{
    border-top-left-radius: 100px;
    border-bottom-left-radius: 100px;
    scale:0.9
}
#px-bottom>img:last-child{
    transform:rotate(10deg);
    position: relative;
    left:-5rem;
    
}

#pxl-buttons>button{
    padding:10px 35px;
    margin: 0 10px 0 0;
    border-radius:10px;
    font-size:30px;
}

#pxl-copy{
    padding:5rem;
    width:50%;
}

#pxl-copy>p{
    font-size:20px;
}

#pxl-copy>h1{
    font-size:50px;
    margin-bottom:20px;
}

.fang-img-area, .px-fang-img-area   {
    background-color: #FFC657;
    border-radius: 100%;
    width:264px;
    height:264px;
    display:flex;
    align-items: center;
    justify-content: center;
    position: relative;
    left:-150px;
    /* animation: pulse 4s infinite ease-in-out; */
}

#dropdowns{
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: #FFC657;

}

#claim{
    text-align: center;
    margin:5rem 0;
}
#claim-header>h2{
    font-size:50px;
}
#claim-header>input[type=button]{
    background-color: #6950D0;
    color:white;
    padding:1rem 3rem;
}

input{
    border:none;
    border-radius: 1rem;
    font-size: 25px;
    padding:1rem;
    text-align: center;
}

#meet>div{
    display: flex;
    flex-flow:row nowrap;
    align-items: center;
}


#meet-copy{
    position: relative;
    width:80%;
    height:419px;
    padding: 1rem;
    left:0px;
    border-top-right-radius: 25rem;
    border-bottom-right-radius: 25rem;
    
}
#meet-wrap{
    padding:2rem 2rem 2rem 10rem;
}

#meet-wrap>h2{
    font-size:50px;
    margin-bottom:5px;
}
#meet-wrap>button{
    border-radius: 20px;
    font-size: 30px;
    padding:.5rem 2rem;
    background-color: #FFC657;

}
#meet-wrap>p {
    width:75%;
    font-size: 25px;
}
#newFangCity-img{
    align-self: end;
    width:80%;
    height:419px;
    position: relative;
    right:0px;
    top:-25px;
    border-top-left-radius: 25rem;
    border-bottom-left-radius: 25rem;
}

.gold{
    color:#FFC657
}

.black{
    color:black;
}

.gold-bg{
    background-color: #FFC657
}
.purple-bg{
    background-color: #6950D0;
}


.slideInLeft{
    animation-name:slideInFromLeft;
		animation-duration: 1s;
		animation-iteration-count:1;
		animation-timing-function:ease;
}

@keyframes slideInFromLeft{
    from{
        left:-1000px;
    }
    to{
        left:0px;
    }
}

.slideInRight {
    animation: 1s slideInFromRight ease;
}

@keyframes slideInFromRight {
    from {
        right: -1000px;
    }

    to {
        right: 0px;
    }
}

.zoomingIn{
    animation: zoomIn 1s 1 forwards;
}

@keyframes zoomIn{
    0%{
        scale:0;
    }
    50%{
        scale:1.5;
    }
    75%{
        scale:.75;
    }
    90%{
        scale:1.1;
    }
    100%{
        scale:1;
    }
}

@keyframes pulse{
    0%{
        scale:1;
    }
    50%{
        scale:1.1
    }
    100%{
        scale:1;
    }
}
