@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap');

html,body{
    margin:0;
    padding:0;
    box-sizing: border-box;
    background-color: #6950D0;
    font-family: 'Karla', sans-serif;
    color:white;
    max-width:100vw;

}
ul{
    list-style: none;
}
#intro{
    width: 100vw;
    height:645px;
    max-width: 100vw;
    margin:0 auto;
    background-image: url('/images/groupphoto.png');
    background-repeat: no-repeat;
    background-size: cover;
}

#brand{
    display:flex;
    flex-flow:row nowrap;
    align-items: center;
}

nav{
    margin: 2rem;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    color:#FFF;
}

#nav-menu{
    display:flex;
    flex-flow:row nowrap;
}
#nav-menu>li{
    margin:1rem;
    font-size:30px; 
}
#nav-menu>li:nth-child(odd){
    color:#FFC657;
    font-weight:700;
}

#nav-buttons>button{
    padding:1rem;
    border-radius: 15px;
    background-color: #FFC657;
    font-size:30px;
    padding:10px 35px
}

#intro-content{
    line-height: .5rem;
    padding:2rem 10rem;
    display: flex;
    flex-flow:column nowrap;
    
}
#intro-content>h1{
    font-size:50px;
}

#intro-content>span{
    font-size:24px;
}
#groupPhoto{
    margin:0;
    position: relative;
    top:-125px;
}

#meet{
    background-color:black;
    padding:5rem 0;
    position: relative;
    width:100vw;
    display:flex;
    flex-flow:column nowrap;
}

#pxlfangs{
    display:flex;
    flex-flow:column nowrap;
    
}

#px-wrapper{
    position: relative;
    background-image: linear-gradient(.35turn, #6950D0 75%, #76D8F9);
}

#px-top{
    display:flex;
    position: relative;
    flex-flow:row nowrap;
    justify-content: space-evenly;
    align-items: center;
    justify-content: space-between;
    margin:0 2rem;
}

#px-bottom{
    display:flex;
    flex-flow:row nowrap;
    margin-left:10%;
    margin-bottom:5rem;
}
#px-bottom>img:first-child{
    border-top-left-radius: 100px;
    border-bottom-left-radius: 100px;
    width:728px;
    height: auto;
    
}
#px-bottom>img:last-child{
    transform:rotate(10deg);
    position: relative;
    left:-7rem;
    scale:1.1;
    
}

#pxl-buttons>button{
    padding:12px 45px;
    margin: 0 .5rem 1rem 0;
    border-radius:30px;
    font-size:25px;
}

#pxl-copy{
    padding:5rem;
    width:55%;
}

#pxl-copy>p{
    font-size:20px;
}

#pxl-copy>h1{
    font-size:50px;
    margin-bottom:10px;
}

.fang-img-area, .px-fang-img-area   {
    background-color: #FFC657;
    border-radius: 100%;
    width:264px;
    height:264px;
    display:flex;
    align-items: center;
    justify-content: center;
    position: relative;
    left:-150px;
    /* animation: pulse 4s infinite ease-in-out; */
}
.fang-img-area>img:first-child{
    scale:1.3;
}
.fang-img-area>img:last-child{
    position: absolute;
    bottom:-1.4rem;
    width:212px;
    height:80px;
    scale:1.3;   
}

.px-fang-img-area>img:first-child {
    scale: .5;
}

.px-fang-img-area>img:last-child {
    position: absolute;
    bottom: -1.4rem;
    width: 212px;
    height: 80px;
    scale: 1.3;
}

#dropdowns{
    border-bottom-left-radius: 100px;
    border-bottom-right-radius: 100px;
    background-color: #FFC657;

}

#users-fangs{
    width:75%;
    border-top:2px solid white;
    margin:5rem auto ;
    overflow: scroll;
    display: flex;
    flex-flow:row nowrap;
    padding:1rem;
}
#current_fangs{
    display:flex;
    position: relative;
    flex-flow:row nowrap;
    align-items: center;
    box-sizing: border-box;
    border-top:1px solid white;
    width:80%;
    overflow-x: scroll;
    padding:1rem;
    margin:5rem auto 1rem;
}

#current_fangs::-webkit-scrollbar{
    background:inherit;
}
#current_fangs::-webkit-scrollbar-track {
    background-image: url("/images/white-line-bg.png");
    background-repeat: repeat-x;
    background-position: center;
    color:white;
    
}
#current_fangs::-webkit-scrollbar-thumb{
    background-color: white;
    border-radius: 10px;
}

#current_fangs img{
    width:250px;
    height:250px;
    margin:1rem 3rem 1rem 0;
    border-radius: 25px;
    box-sizing: border-box;
}

.single-fang{
    position: relative;
}

.already-claimed{
    background: rgba(60,60,60,0.5);
    background-size: cover;
    width:250px;
    height:250px;
    position: absolute;
    display: flex;
    top:0;
    margin: 2rem 3rem 1rem 0;
    border-radius: 25px;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
}

.claimed-text{
    background-color: black;
    width:100%;
    font-size:50px;
    font-weight: bold;
}

#claim{
    text-align: center;
    margin:5rem 0;
}

#claim-options{
    display: flex;
    flex-flow: row nowrap;
    width: 70%;
    margin:0 auto;
    justify-content: space-between;
    align-items: center;
    
}
#claim-options>button{
    border-radius: 15px;
    color:white;
    background-color: #6950D0;
    font-size:30px;
    padding:1rem 5rem;
}


.some-to-claim{
    background-color: #6950D0;
    cursor: pointer;
}
.none-to-claim{
    background-color:#999 !important;
    cursor: not-allowed;
}

#claim-options>div>button{
    border-radius:20px;
    padding:.5rem 2rem;
    background-color: black;
    color:white;
    margin:0 1rem;
    font-size:25px;
    cursor: pointer;
}

#claim-header>h2{
    font-size:50px;
}
#claim-header>input[type=button]{
    background-color: #6950D0;
    color:white;
    padding:1rem 3rem;
}

.selected-for-claim{
    border: 5px white solid;
}
input[type='number']{
    width:20%;
}
input{
    border:none;
    border-radius: 1rem;
    font-size: 25px;
    padding:1rem;
    text-align: center;
}

#meet>div{
    display: flex;
    flex-flow:row nowrap;
    align-items: center;
}


#meet-copy{
    position: relative;
    width:80%;
    height:419px;
    padding: 1rem;
    left:0px;
    border-top-right-radius: 25rem;
    border-bottom-right-radius: 25rem;
    
}
#meet-wrap{
    padding:0rem 8rem;
}

#meet-wrap>h2{
    font-size:50px;
    margin-bottom:5px;
}
#meet-wrap>button{
    border-radius: 30px;
    font-size: 25px;
    padding:.75rem 3rem;
    margin-right:1rem;
    background-color: #FFC657;
    
}
#meet-wrap>p {
    width:80%;
    font-size: 20px;
}
#fanggrid{
    align-self: end;
    width:1253px;
    height:415px;
    position: relative;
    right:0px;
    top:-25px;
    border-top-left-radius: 25rem;
    border-bottom-left-radius: 25rem;
}

.gold{
    color:#FFC657
}

.black{
    color:black;
}

.gold-bg{
    background-color: #FFC657
}
.purple-bg{
    background-color: #6950D0;
}

#fangrunner-runs-to-left{
    position:absolute;
    bottom:0px;
    right:-20%;
    width:150px;
    height:150px;
    animation: fangRunning 10s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

#pxl-arrow{
    position:relative;
    left:45%;
    top:-40px;
    animation: floatUpAndDown 2s infinite ;
}


.slideInLeft{
    animation-name:slideInFromLeft;
    animation-duration: 1s;
    animation-iteration-count:1;
    animation-timing-function:ease;
}

@keyframes slideInFromLeft{
    from{
        left:-1000px;
    }
    to{
        left:0px;
    }
}

.slideInRight {
    animation: 1s slideInFromRight ease;
}

@keyframes slideInFromRight {
    from {
        right: -1000px;
    }

    to {
        right: 0px;
    }
}

.zoomingIn{
    animation: zoomIn 1s 1 forwards;
}

@keyframes zoomIn{
    0%{
        scale:0;
    }
    50%{
        scale:1.5;
    }
    75%{
        scale:.75;
    }
    90%{
        scale:1.1;
    }
    100%{
        scale:1;
    }
}

@keyframes pulse{
    0%{
        scale:1;
    }
    50%{
        scale:1.1
    }
    100%{
        scale:1;
    }
}

@keyframes floatUpAndDown{
    0%{

    }
    50%{
        top:-10px;
    }
    100%{

    }
}


@keyframes fangRunning{
    0%{
        right: -20%;
    }
    49%{
        transform: rotateY(0deg);
    }
    50%{
        right: 110%;
        transform: rotateY(180deg);
    }
    99%{
        transform: rotateY(180deg);
    }
    100%{
        right: -20%;
    }
}


