@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600;900&display=swap');


html,body{
    box-sizing: border-box;
    background-color: #6950D0;
    font-family: 'Ubuntu', sans-serif;
    margin:0;
    padding:0;
    color:white;
    max-width:100vw;
    overflow-x: hidden;
}

.text-white{
    color:white;
}

h3.available-text{
    color: green;
}

h3.unavailable-text{
    color:red;
}

.yellow-bg{
    background-color: #FFC657;
}

@media screen and (min-width: 767px) {
    .mobile{
        display:none !important;
    }
}

@media screen and (max-width: 767px){
    .desktop{
        display: none !important;
    }
    .mobile{
        display:flex;
    }

}

h1,h2,h3,h4,h5, 
#nav-menu a{
    font-family: 'Poppins', sans-serif !important;
    font-style: normal;
    font-weight: 900;
    line-height: 3rem;
}
#nav-buttons div, .copy-btns{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
}
a{
    color:white;
    text-decoration: none;
}
ul {
    list-style: none;
}
ul, li{
    margin: 0;
    padding:0;
}

#brand {
    width: 195px;
    height: 74px;
}
#hamburger-menu{
    display:none;
}

#desk-navigation{
    justify-content: space-between;
    width: 100%;
}

#desk-navigation #nav-menu{
    margin: 0 auto;
}


@media screen and (max-width: 1100px){
    #brand {
        z-index: 5;
    }
    #brand-wrap{
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: center;
        align-self: center;
    }
    #hamburger-menu{
        display:block;
        height: 25px;
        width: 25px;
        padding:.5rem;
        border-radius: 15px;
    }
    #nav-buttons a{
        font-size: 17px !important;
        margin: .5rem;
        align-items: center;

        height: 80px !important;
        width: 340px !important;
    }
    #nav-buttons {
        display: flex;
        width: unset !important; 
        align-items: space-evenly !important;
    }

    #nav-buttons a img, #twitter-icon{
        margin: 0 1rem;    
    }

    #desk-navigation{
        display:none !important;
    }

    #mobile-navigation{
        position: absolute;
        background-color: #6950D0;
        top: 110px;
        left:0;
        right:0;
        z-index: 15;
        border-bottom-left-radius: 50px;
        border-bottom-right-radius: 50px;
    } 
    #nav-menu, #desk-navigation{
        flex-flow: column nowrap !important;
    }
    #nav-buttons{
        display: flex;
        margin: 2rem auto;
        width: 50%;
        justify-content:center;
    }
}

@media screen and (max-width:767px) {

}

nav {
    margin: 0rem 2rem; 
    justify-content: space-between;
    align-items: center;
    color: #FFF;
    height:116px;
}


#nav-menu, 
#desk-navigation,
nav,
#claim-options,
#nav-buttons,
#founder-wrap {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}

#bg-mask{
    position:relative;
    overflow: hidden;
    bottom:0;
    display: flex;
    height: 200px;
}
#cbg{
    align-self: flex-end;
}




#nav-buttons{
    width:210px;
    justify-content: space-around;
    align-items: stretch;
}

#nav-menu a {
    margin: 1rem;
    font-size: 28px;
    font-weight: 700;
    color: #FFC657;
}

#nav-menu a:hover {
    color: white;
}


#nav-buttons>div, #nav-buttons>a {
    font-size: 28px;
    font-weight: bold;
    border-radius: 20px;
    display: flex;
    align-items: center;
    color: black;
}

#nav-buttons>div{
    width: 114px;
    height: 55px;
}

#nav-buttons a{
    color:black;
    align-items: center;
    display: flex;
    justify-content: center;
    width: 78px; 
    height: 55px;

}


.mascot-head{
    border-radius: 50px;
    height:60px;
    width: 60px;
    margin: .25rem;
}

#split-join-btn{
    display:flex;
    justify-content: center;
}
#split-join-btn:hover{
    padding: 0 !important;
}

.wrapper-100{
    display: flex;
        align-items: center;
            justify-content: space-evenly;
    width: 100%;
}

#hero-image-mobile{
    width:100%;
    height:100%;
}

#hero-image-small-mobile {
    display: none;
}

.hidden{
    display:none !important;
}

#intro{
    width: 100vw;
    height:645px;
    max-width: 100vw;
    margin:0 auto;
    background-image: url('/images/groupphoto.png');
    background-position: center center;
    background-size:cover;
}

#intro-content{
    line-height: .5rem;
    display: flex;
    flex-flow:column nowrap;
    position: absolute;
    z-index: 10;
    width:100%;
}
#intro-content h1{
    font-size:50px;
    line-height: 3rem;
    margin: 3rem 0 1rem 0;
}

#intro-wrap{
    margin:0 10%;
}

#intro-content>div>span{
    font-size:24px;
}

@media screen and (max-width: 767px){
    #nav-buttons a {
            font-size: 16px !important;
            margin: .5rem;
            width:250px !important;
            display: flex !important;
            justify-content: space-evenly !important;
        }
    
        #nav-buttons {
            display: flex;
            flex-flow: column nowrap;
            align-items: center !important;
        }
    #intro-wrap{

        border-radius: 25px;
    }
    #intro-content>div>span {
        line-height: 1.5rem;
        font-size: 20px;
    }
    #intro-content h1{
        font-size: 30px;
        line-height: 2rem;
    }
}

#meet,
#newFangCity{
flex-flow: column nowrap;
}
#gear{
    flex-flow: row nowrap;
    align-items: center;
}
#meet,
#newFangCity,
#AwooStudios,
#ourPartners{
    background:linear-gradient(.75turn,#2C282E, #1D1B1E);
    padding:2rem 0;
    position: relative;
    width:100vw;
    display:flex;
}

#gear{
    background: linear-gradient(.75turn, #2C282E, #1D1B1E);
    padding: 5rem 0 3.5rem; 
    position: relative;
    width: 100vw;
    display: flex;
    flex-direction: column;
}

#ourPartners{
    flex-flow:column nowrap;
    
}
#ourPartners>div{
    width:75%;
    margin: 0 auto;
    border-top: 1px solid white;
}

@media screen and (max-width: 767px) {
    #partners-area{
        display: flex;
        flex-flow: column nowrap;
    }
    #partners-area img{
        margin-top:2rem;
        height: 42px;
    }
}

#pxlfangs{
    display:flex;
    flex-flow:column nowrap;
    background: linear-gradient(.75turn, #2C282E, #1D1B1E);
}

#px-wrapper{
    position: relative;
    background: linear-gradient(115.6deg, #6950D0 63.17%, #76D8F9 120.32%);
    z-index: 5;
    height: auto;
}

#px-top{
    display:flex;
    position: relative;
    flex-flow:row nowrap;
    justify-content: space-evenly;
    align-items: center;
    justify-content: space-between;
    margin:0 2rem;
}

#px-bottom{
    display:flex;
    flex-flow:row nowrap;
    margin-left:10%;
    margin-bottom:5rem;
}
#px-bottom>img:first-child{
    border-top-left-radius: 100px;
    border-bottom-left-radius: 100px;
    width:728px;
    height: auto;
}

@media screen and (max-width: 767px){
    #px-top{
        margin: 0;
        text-align: center;
    }

    #pxl-copy{
        padding: 0 !important;
        width: 100% !important;
        margin-bottom: 120px;
    }

    #pxl-copy > p{
        margin: 1rem 2rem;
    }    


    .px-fang-img-area{
        left: 0 !important;
    }
    .copy-btns{
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    #musicfang{
        left: unset !important;
    }
    .outter-img-wrap{
        align-items: center;
        max-width: 100vw;
    }
    #brain{
        top:200px !important;
    }
    #pxl-clock{
        right: 0px !important;
    }
    #bigDiamond-left{
        left:0 !important;
    }
}

.copy>button{
    padding:12px 45px;
    margin: 0 .5rem 1rem 0;
    font-size:25px;
}

#pxl-copy{ 
    padding: 3rem 10rem 7rem 10rem;
    width:50%;
}

#cbg{
    bottom:0;
}
#paca, #junshi{
    position: absolute;
    bottom: 0;
}
#paca{
    left:12%;
}
#junshi{
    right: 12%;
}


#pxl-copy>p{
    font-size:20px;
}

#pxl-copy>h1{
    font-size:50px;
    margin-bottom:10px;
}

.fang-img-area,
.px-fang-img-area,
.wildfang-logo-area{
    background-color: #FFC657;
    overflow: hidden;
}

.fang-img-area, 
.px-fang-img-area,
.wildfang-logo-area,
.tram-img-area{
    display: flex;
    justify-content: center;
    position: relative;
    border-radius: 100%;
    width:220px;
    height:220px;
    left:-150px;
}

.fang-img-area img, 
.px-fang-img-area img{
    position: relative;

}

.purple-drawer-btn{
    background-color: #6950D0;
    color: white;
    font-size: 30px;
    padding: 2rem;
    margin: 0 .5rem;
    text-align: center;
}
.wildfang-logo-area{
    overflow: visible;
}
.wildfang-logo-area>img{
    align-self: center;
}
.outter-img-wrap{
    position:relative;
    display: flex;
    flex-flow: column nowrap;
}
.outter-img-wrap > .logo{
    position: absolute;
    width: 212px;
    height: 80px;
    bottom:-1.55rem;
    scale:1.2;
    left:-150px;
}

.drawers-wrapper{
    overflow: hidden;
    position: relative;
}



#claim-drop-down, #game-drop-down, #bank-drop-down{
    position:relative;
    margin-top:-16px;
    padding-top: 2rem;
    border-bottom-left-radius: 100px;
    border-bottom-right-radius: 100px;
    background-color: #FFC657;
    margin-bottom: 3rem;
}
#claim-drop-down h2,
#game-drop-down h2,
#bank-drop-down h2{
    margin-top: 5rem;
}

#bank-drop-down p{
    width:50% !important;
}

#bank-drop-down a{
    color:white;    
}

#bank-drop-down .section-button{
    border-radius: 10px;
}


#bank-drop-down {
    color: black;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    height: 900px;
    width:100vw;
    background-image: url('/images/newfangcity_bank.png');
    background-size: 1029px;
    background-position: bottom;
    background-repeat: no-repeat;

}

#bank-drop-down .pxl-arrow{
    left: unset !important;
}

#bank-image{
    position: absolute;
    bottom: 0;
    z-index: 0;
    width: 50%;
}

#awootoken{
    margin-right:1rem;
}

#users-fangs{
    width:75%;
    border-top:2px solid white;
    margin:5rem auto ;
    overflow: scroll;
    display: flex;
    flex-flow:row nowrap;
    padding:1rem;
}
#current_fangs{
    display:flex;
    position: relative;
    flex-flow:row nowrap;
    align-items: center;
    box-sizing: border-box;
    border-top:1px solid white;
    width:80%;
    overflow-x: scroll;
    padding:1rem;
    margin:5rem auto 1rem;
}

#current_fangs::-webkit-scrollbar{
    background:inherit;
}
#current_fangs::-webkit-scrollbar-track {
    background-image: url("/images/white-line-bg.png");
    background-repeat: repeat-x;
    background-position: center;
    color:white;
    
}
#current_fangs::-webkit-scrollbar-thumb{
    background-color: white;
    border-radius: 10px;
}

.modal-wrap::-webkit-scrollbar-thumb {
    background-color: white;
    border-radius: 10px;
}


#current_fangs img{
    width:250px;
    height:250px;
    margin:1rem 3rem 1rem 0;
    border-radius: 25px;
    box-sizing: border-box;
}

.single-fang{
    position: relative;
}

.already-claimed{
    background: rgba(60,60,60,0.5);
    background-size: cover;
    width:250px;
    height:250px;
    position: absolute;
    display: flex;
    top:0;
    margin: 2rem 3rem 1rem 0;
    border-radius: 25px;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
}

.claimed-text{
    background-color: black;
    width:100%;
    font-size:50px;
    font-weight: bold;
}

#claim{
    position: relative;
    text-align: center;
}


#claim-options{
    width: 70%;
    margin:0 auto;
    justify-content: space-between;
    align-items: center;
    
}
#claim-options>button{
    color:white;
    background-color: #6950D0;
    font-size:30px;
}

#claim-options>button:last-child{
    width: 254px !important;
    height: 79px !important;
}

#claim-options>button {
    width: 260px;
    height: 55px;
}

button, input[type=number]{
    border:none;
    box-shadow: none;
    border-radius: 30px;
}

button:hover {
    box-shadow:none;
}

.some-to-claim{
    background-color: #6950D0;
    cursor: pointer;
}
.none-to-claim{
    background-color:#999 !important;
    cursor: not-allowed;
}

.claim-options-btn{
    background-color: black;
    font-size: 25px !important;
    color: white;
    margin: 0 1rem;
    padding: 0.5rem;
    font-size: 30px;
    cursor: pointer;
}


h2{
    font-size:36px;
}

.drawer-x-btn{
    display: inline-flex;
    position: absolute;
    top:5.5rem;
    right: 4rem;
    font-size: 70px;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    cursor: pointer;
}

@media screen and (max-width: 767px) {
    .drawer-x-btn{
    top:2rem;
    right: 1rem;
    font-size: 40px;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
}
}

input[type=number] {
    width: 20%;
    padding: 2rem;
}
.selected-for-claim{
    border: 5px white solid;
}
input{
    border:none;
    font-size: 30px;
    padding:1rem;
    margin:0 .5rem;
    text-align: center;
}

#claim-options>div {
    display: flex;
}

@media screen and (max-width: 767px) {
    #claim-options{
        flex-flow: column;
    }
    #claim-options>div{
        margin-top: 1rem;
    }
    .pxl-arrow {
        left: 38vw !important;
    }
}

#meet>div, 
#gear>div, 
#newFangCity>div{
    display: flex;
    flex-flow:row nowrap;
    align-items: center;
}
.copy-btns {
    margin: 1rem 0 3rem 0 !important;
}
.copy-btns a {
    color: black;
    border-radius: 30px;
    cursor: pointer;
}

@media screen and (max-width: 767px){
    .section-copy{
        min-width: 100vw;
        padding: 2rem 0 !important;
    }
    .fang-img-area,
    .px-fang-img-area,
    .wildfang-logo-area,
    .tram-img-area{
        left: unset !important;
    }
    a.section-button{
        padding: 1rem 3rem;
    }
    .section-button{
        margin-right: unset !important;
        margin: 0 .5rem; 
    }

    #pxl-copy .copy-btns{
        flex-flow: column;
        width:80%;
        margin: 0 auto;
    }
    #pxl-copy .copy-btns>a:not(:first-child){
        margin-top: 1rem;
    }

    #join {
        padding: unset !important;
    }
    #cfw_discord{
        scale: 0.5;
    }

    #join a{
        margin: -3rem 0 0 0;
    }



}

#join{
    display:flex;
    position: relative;
    flex-flow:row nowrap;
    align-items: center;
    padding:2rem 5rem; 
    background: linear-gradient(115.6deg, #6950D0 63.17%, #76D8F9 120.32%);
}



.section-copy{ 
    position: relative;
    width:80%;
    height: auto;
    padding: 3rem;
    left:0px;
    border-top-right-radius: 25rem;
    border-bottom-right-radius: 25rem;
}
.copy-wrap{
    margin: 0 10rem; 
}


#AwooStudios{
    align-items: center;
}


#join .copy-wrap{
    margin: 0 4rem !important;
}
#AwooStudios .copy-wrap{
    margin: 0 0 0 7rem !important;
}

.copy-wrap>h2{
    margin-bottom:5px;
}

#ourPartners h2{
    margin: 3rem 0;
}

#partners-area{
    display: flex;
    justify-content: flex-start;
    margin-bottom: 73px;
}

#partners-area img{
    margin-right: 48px;
}

.section-button{
    font-size: 25px;
    padding: .75rem 3rem;
    margin-right: 1rem;
    background-color: #FFC657;
}


.section-p{
    width: 80%;
    font-size: 18px;
}
#AwooStudios .section-p{
    width:100%;
    line-height: 20.68px;
}

@media screen and (max-width: 767px) {
    .section-copy{
        border-top-right-radius: unset;
        border-bottom-right-radius: unset;
        right:0;
        width:unset;
    }
    #meet>div{
        display:flex;
        flex-flow: column nowrap;
        align-items: center;
    }
    .copy-wrap>h2 {
        line-height: 2.2rem;
        margin-bottom: 5px;
    }
    .copy-wrap{
        padding: unset;
        text-align: center;
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
    }
    .section-button {
        margin-top: 3rem;
        padding: 1rem;
        font-size: 14px;
    }
    .fang-img-area, .outter-img-wrap>.logo{
        left: unset;
    }
    
}
#fanggrid{
    align-self: flex-end;
    width:1253px;
    height:415px;
    position: relative;
    right:0px;
    top:-25px;
    border-top-left-radius: 25rem;
    border-bottom-left-radius: 25rem;
}

#fangModels {
    align-self: flex-end;
    width: 1264px;
    position: relative;
    right: 0px;
    top: -25px;
    border-top-left-radius: 25rem;
    border-bottom-left-radius: 25rem;
}

#NFC{
    align-self: flex-end;
    width: 1264px;
    position: relative;
    right: 0px;
    top: -25px;
    border-top-left-radius: 25rem;
    border-bottom-left-radius: 25rem;
}

.gold{
    color:#FFC657
}

.black{
    color:black;
}

.gold-bg{
    background-color: #FFC657
}
.purple-bg{
    background-color: #6950D0;
}
.black-bg{
    background-color: #2C282E;
}

#fangrunner-runs-to-left{
    position:absolute;
    bottom:0px;
    right:-20%;
    width:150px;
    height:150px;
    animation: fangRunning 10s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

#sidewalk{
    width:100vw;
    position:absolute;
    bottom:-25px;
}

@media screen and (max-width: 767px){
    #sidewalk{
        bottom: unset;
    }
}

#icecream-fangster{
    position: absolute;
    bottom:-17px;
    left: 4%;
    z-index: 5;
    transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
}

#musicfang{
    position: relative;
    left:-45%;
    top: 3px;

    transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
}

.raised{
    z-index: 20;
}

#smallDiamond-left,
#smallDiamond-middle,
#smallDiamond-right{
    position: absolute;
    z-index: 0;
    width:19px;
    height:19px;
}
#bigDiamond-left,
#bigDiamond-right,
#brain,
#pxl-clock {
    position: absolute;
    width: 38px;
    height: 38px;
}

#smallDiamond-left{
    left: 1rem;
    bottom: 30%;
}
#smallDiamond-middle {
    right: 35%;
    top: 40%;
}
#smallDiamond-right{
    right: 5%;
    bottom: 30%;
}
#bigDiamond-left{
    left: 5rem;
    bottom: 45%;
}
#bigDiamond-right {
    right: 2%;
    bottom: 45%;
}
#brain{
    left: 3rem;
    top: 10%;
}
#pxl-clock{
    right:40%;
    top:30%;
}

.pxl-arrow{
    position:relative;
    left:45%;
    cursor: pointer;
    top:40px;
    animation: floatUpAndDown 2s infinite ;
}

.bank-arrow {
    position: relative;
    top: 430px;
    animation: floatUpAndDownBank 2s infinite;
}

.center-stuff{
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}

.game-container{
    display:flex;
}
#game-drop-down>h3, #bank-drop-down>h3{
    color:black;
    text-align: center;
    font-size:50px;
    margin:5rem 0 1rem;
}
#game-drop-down>p, #bank-drop-down>p{
    color: black;
    text-align: center;
    font-size: 20px;
    width:60%;
    margin:2rem auto;
}

#junshiAndPaca{
    background-image: url('/images/fangWallpaper.png');
    background-size: cover;
    border-top-left-radius: 25rem;
    border-bottom-left-radius: 25rem;
    width:681px;
    height:161px;
    border:1px solid black;
}


footer, #socials{
    display:flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;

}

#socials{
    width: 20%;
    padding: 0rem 0 0 2rem;
}

#poap{
    align-self: flex-end;
}

@media screen and (max-width: 767px) {
    footer{
        flex-flow: column nowrap;
        justify-content: unset !important;
        align-items: unset !important;
        height: unset !important;
    }
    #socials{
        width: unset !important;
        order: 1;
    }
    #poap{
        align-self: center;
        order:3;
    }
    #copyright{
        order: 2;
        text-align: center !important;
    }
    #AwooStudios{
        display: flex;
        flex-flow: column nowrap !important;
        align-items: center;
        padding:0;
    }
    #founders,
    #tags,
    #junAndPaca{
        width:100%;
    }
    #tags a{
        scale: 0.7;
    }
}


#cfw_discord{
    position:relative;
    display: flex;
}
#cfw_discord img:first-child{
    position: absolute;
    left:-160px;
    top: -40px;
}

#founders{
    height: 350px;
    display:flex;
    align-items: center;    
    flex-flow: column nowrap;
    z-index: 1;
}


#tags{
    width:100%;
    justify-content: space-evenly;
}


#copyright{
    padding: 1rem;
    text-align: right;
    margin: 0 2rem 0 0;
}



#copyright h4{
    font-size:32px;
    margin: 0;
    font-weight: 600;
}

#socials svg:hover path{
    fill:#FFC657;
}

#copyright>span{
    font-size: 11px;
    font-weight: 300 !important;
    
}

#copyright>span:hover{
    cursor: pointer;
    color:#FFC657;
}

#terms-modal, #pandl-modal{
    position:fixed;
    overflow-y: scroll;
    top:0;
    background-color: rgba(100,100,100,0.5);
    min-width: 100vw;
    z-index: 10;
}
.modal img{
    position: absolute;
    top: 1rem;
    right: 1rem;
    cursor: pointer;
}

.modal{
    position: relative;
    z-index: 11;
    max-width: 30vw;
    min-height: 70vh;
    max-height: 70vh;
    padding: 3rem 4rem;
    margin: 5rem auto;
    background-color: #6950D0;
    border-radius:1rem;
    overflow-y: scroll !important;
}
.modal>h2{
    text-align: center;
    border-bottom: 1px solid white;
    padding-bottom: 1rem;
}


.modal-wrap{
    box-sizing: border-box;
    margin: 0 auto;

    scroll-behavior: smooth;
}



.modal-section > p{
    overflow-x: scroll;
    margin: 0 auto 1rem auto;
    line-height: 1.25rem;
}



@media screen and (max-width: 767px){
    .modal-wrap, .modal-section > p{
        width: unset !important;
        margin: unset !important;   
    }
    .modal{
        max-width: 90vw !important;
        padding: 1rem !important;
    }


}


@keyframes pulse{
    0%{
        scale:1;
    }
    50%{
        scale:1.1
    }
    100%{
        scale:1;
    }
}
@keyframes floatUpAndDown{
    0%{

    }
    50%{
        top:50px;
    }
    100%{

    }
}



@keyframes floatUpAndDownBank {
    0% {}

    50% {
        top: 400px;
    }

    100% {}
}

@keyframes fangRunning{
    0%{
        right: -20%;
    }
    49%{
        transform: rotateY(0deg);
    }
    50%{
        right: 110%;
        transform: rotateY(180deg);
    }
    99%{
        transform: rotateY(180deg);
    }
    100%{
        right: -20%;
    }
}

.toaster-pop-up{
    animation: toasterPop 1s 1 forwards;
}

@keyframes toasterPop{
    0%{
        bottom: -500px;
    }
    50%{
        bottom: 5px;
    }
    75%{
        bottom: -5px;
    }
    100%{
        bottom:0px;
    }
}

.floaty1{
    animation: isFloaty1 5s infinite linear forwards;
}

@keyframes isFloaty1{
    0%{
        left: -160px;
        top: -40px;
    }
    50%{
        left: -165px;
        top: -45px;
    }
    100% {
        left: -160px;
        top: -40px;
    }
}

.slideInLeft {
    animation-name: slideInFromLeft;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-timing-function: ease;
}

@keyframes slideInFromLeft {
    from {
        left: -1000px;
    }

    to {
        left: 0px;
    }
}







@media screen and (max-width: 767px) {
    #founders{
        flex-direction: column;
    }
}

#pacaTag, #junshiTag{
    opacity: 0;
}

.fadeIn{
    animation: fadingIn 1s ease-in 1s 1 forwards;
}


@keyframes fadingIn{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

.droppingDownNav{
    animation: 1s dropDownNav ease-in;
}

@keyframes dropDownNav {
    0% {
        top: -800px;
    }

    100% {
        top: 0px;
    }
}

.closingUpNav {
    animation: 1s closeUpNav ease-in;
}

@keyframes closeUpNav {
    0% {
        top: 0px;
    }

    100% {
        top: -800px;
    }
}

.droppingDown{
    animation: 1s dropDown ease-in;
}

@keyframes dropDown{
    0%{
        top: -800px;
    }
    100%{
        top: 0px;
    }
}



.closingUp {
    animation: 1s closeUp ease-in;
}

@keyframes closeUp {
    0% {
        top: 0px;
    }

    100% {
        top: -800px;
    }
}






/*Fang btn special css*/

.ripple-btn {
    border-radius: 25px;
    display: inline-flex;
    flex-flow: column nowrap;
    align-items: center;
    overflow: hidden;
    position: relative;
    color: white;
}

.ripple-btn label {
    z-index: 5;
}

.ripple1 {
    position: absolute;
    transform: scale(2);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15px;
    height: 15px;
    bottom: -15px;
    border-radius: 100%;
    background-color: #6950d0;
}

.ripple2 {
    width: 10px;
    height: 10px;
    background-color: #76d6f8;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ripple3 {
    width: 5px;
    height: 5px;
    border-radius: 100%;
}

.rippleGrower {
    animation: rippleGrow .5s linear forwards;
}

@keyframes rippleGrow {
    from {
        transform: scale(0.1);
    }

    to {
        transform: scale(25);
    }
}

.rippleGrowerMd {
    animation: rippleGrowMd .5s linear forwards;
}

@keyframes rippleGrowMd {
    from {
        transform: scale(0.1);
    }

    to {
        transform: scale(50);
    }
}

.rippleGrowerLg {
    animation: rippleGrowLg .5s linear forwards;
}

@keyframes rippleGrowLg {
    from {
        transform: scale(0.1);
    }

    to {
        transform: scale(100);
    }
}